<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Cars Form</title>
    <link rel='stylesheet' type='text/css' href='/stylesheet/style.css'>
</head>
<body>

    <h1>Cars and Cats</h1>

    <div class="wrapper">
        <input type="radio" name="image-slide" checked="checked">
        <picture aria-label="Random 1">
            <img src="../images/car1.gif" alt="Random Picture 1">
        </picture>
        
        <input type="radio" name="image-slide">
        <picture aria-label="Random 2">
            <img src="../images/car2.gif" alt="">
        </picture>
        <input type="radio" name="image-slide">
        <picture aria-label="Random 3">
                <img src="../images/car3.gif" alt="">
        </picture>
        <input type="radio" name="image-slide">
        <section>
            <h2>
                This is a warning!
            </h2>
            <p>For more info, go <a href='dribbble.com/keikishim'>here!</a></p>
            <button>Call to action, bitch!</button>
        </section>
    </div>

</body>
</html>